<app-app-header></app-app-header>

<ion-content>
  
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="darkBox">
            
            <form [formGroup]="form" (ngSubmit)="continue()">     
                <div class="formWrapper">   
                  
                  <div class="form__item"> 
                    <div class="form__label"> 
                       Select token or input contract
                    </div>
                    <ion-input class="form__input" formControlName="contract" placeholder="0x8fB00FDe ... 1B6A7b7221"></ion-input>                     
                    <!-- <div *ngIf="hasError('asset', 'required')" class="standardInputErr">
                      asset is required
                    </div>             -->
                  </div>                   
                  
                  <div class="form__item buffer asset__listLine"> 
                    <div class="asset__list">
                      <div class="asset_item" *ngFor="let t of assets">
                        <label class="asset_itemWrap">                        
                          <input type="radio" formControlName="asset" [value]="t" > 
                          <div class="highlight"></div>
                          <div class="asset_icon" [ngClass]="'token-'+t.ticker.toLowerCase()"></div> {{ t.name  }} ({{ t.ticker  }})
                        </label>
                      </div>
                    </div>                     
                  </div>  
                  <div class="form__item"> 
                    <ion-button [disabled]="form.invalid" class="o-btn" type="submit" (click)="continue()">Continue</ion-button>
                  </div>                                      
                  </div>
            </form>            
          
          </div>          

      </ion-col>      
    </ion-row>
    <ion-row>   
      <ion-col>     
        <div class="back__button" (click)="goBack()">
          <div class="back__button--icon"></div>
          <span>Go back</span>
        </div>
      </ion-col>      
    </ion-row>      
    
  </ion-grid>

</ion-content>
