<app-app-header #header [modal_header]="modalHeader" [modal_txt]="modalTxt" [showHelp]="false">
</app-app-header>
<div class="container">

    <form>
        <div class="title">Admin Panel</div>
        <ul class="wrapper">
            <li class="form-row">
                <label for="add" class="add">Add new project info</label>
            </li>
            <li class="form-row">
                <label for="name">Select Launchpad</label>
                <input type="text" id="name">
            </li>
            <li class="form-row">
                <label for="townborn">Project Name</label>
                <input type="text" id="townborn">
            </li>
            <li class="form-row">
                <label for="email">Token Ticker</label>
                <input type="email" id="email">
            </li>
            <li class="form-row">
                <label for="name">Description</label>
                <input type="text" id="name">
            </li>
            <li class="form-row">
                <label for="townborn">Website link</label>
                <input type="text" id="townborn">
            </li>
            <li class="form-row">
                <label for="email">Telegram link</label>
                <input type="email" id="email">
            </li>
            <li class="form-row">
                <label for="townborn">Twitter link</label>
                <input type="text" id="townborn">
            </li>
            <li class="form-row">
                <label for="email">Company Logo</label>
                <input type="email" id="email">
            </li>
            <li class="form-row">
                <button type="submit">Submit</button>
            </li>
        </ul>
    </form>


</div>