  <h2 class="modalHeader">
    Information
  </h2>
             
  <ul class="list-reset">
       
     <li class="btnWrap">   
       <h1 class="align-center white" *ngIf="modal_header">
         {{ modal_header }}
       </h1>  
       <div class="white" [innerHTML]="modal_txt">
       </div>      
     </li>        
    
    <li class="btnWrap">
      <button class="btn btn-white" (click)="cancel()">
        <div class="btnInner">
           <span>Ok</span>                    
        </div>                  
      </button> 
    </li>    
  
  </ul>
  