:host {
    padding: 0 25px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 35px 0px;
    li {
        margin: 0px auto 15px;        
    }
}







button {
    width: 200px;
    box-shadow: -10px -10px 15px -5px #2A3958, 10px 10px 15px -5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
    padding: 9px;
    transition: transform 300ms ease-in-out;
    transform: scale(1.01);
    outline: none!important;
    
    &:disabled {
        background: #A6AEBE!important;  
    }
    
    &:not(:disabled):hover {
        transition: transform 300ms ease-in-out;
        transform: scale(1.04);                
    }
    
    .btnInner {
        display: flex;
        justify-content: center;
        img {
            margin-right: 10px;
        }
    }
    color: #1D2C49;   
    
    span {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;                
    }
    // &.btn-grey {
    //     background: #A6AEBE;          
    // }
    
    &.btn-white {
        background: #ffffff;     
        
    }    
    
    &.btn-unlock {
        background: #89F4ED;            
    }
                
}