<ion-header [translucent]="true">
  <ion-toolbar class="padding015" color="secondary">
    <img class="logo" src="/assets/img/logo.svg" alt="">
    <ion-buttons slot="end">
      <ion-button size="large" color="primary" (click)="openOptions()">
        Launch Option
      </ion-button>     
      <ion-button size="large"  color="primary" (click)="openEvents()">
        My Events
      </ion-button>   
      <ion-button size="large"  color="primary" (click)="openEventsFinished()">
        Event Finished Demo
      </ion-button>                    
    </ion-buttons>      
  </ion-toolbar>
</ion-header>