<ion-header>
  <ion-toolbar class="padding015" color="secondary">
    <img class="logo" src="/assets/img/logo.svg" alt="">
    <ion-buttons slot="end" *ngIf="loggedIn$ | async">
      <ion-button size="large" color="primary" (click)="openOptions()">
        Launch Option
      </ion-button>     
      <ion-button size="large"  color="primary" (click)="openEvents()">
        My Events
      </ion-button>            
      <ion-button size="large"  color="primary" (click)="options()">
        <ion-icon class="btn-info" src="/assets/img/information-circle-sharp.svg" name="information-circle-sharp"></ion-icon>
      </ion-button>        
    </ion-buttons>      
  </ion-toolbar>
</ion-header>