<app-app-header #header [modal_header]="modalHeader" [modal_txt]="modalTxt" [showHelp]="false">
</app-app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="darkBox">
          <div class="eventOverview" *ngIf="(event$ | async) as event">
            <h2 class="eventHeader bolder status-status">
              EVENT OVERVIEW
            </h2>
            <div class="eventOverviewData">
              <ul class="list-reset">
                <li>
                  <div class="eventInfoTxt bolder white eventTokenInfo">
                    <div class="asset_icon" [ngClass]="'token-'+event.asset_ticker.toLowerCase()"></div>
                    {{ event.asset_name }}
                    ({{ event.asset_ticker }})
                  </div>
                  <div class="eventInfoTxt--small">
                    Created: {{ getDate(event.creation) }}
                  </div>
                </li>
                <li>
                  <div class="eventInfoTxt--small">
                    Event success condition:
                  </div>
                  <div class="eventInfoTxt white bolder">
                    {{ event.asset_ticker }}
                    <span [ngClass]="getClass(event.side)">
                      {{ getConditionText(event.side) }}
                    </span>
                    ${{ currencyFormat(event.condition_price) }}&nbsp;USD
                  </div>
                </li>
                <li>
                  <div class="eventInfoTxt--small">
                    Event settlement date:
                  </div>
                  <div class="eventInfoTxt bolder white">
                    {{ getDate(event.completion) }}
                  </div>
                </li>
                <li>
                  <div class="eventInfoTxt--small">
                    Event settlement price:
                  </div>
                  <div class="eventInfoTxt bolder white">
                    ${{ currencyFormat(event.settled_price) }}&nbsp;USD
                  </div>
                </li>
              </ul>
            </div>
            <div class="eventOverviewData" *ngIf="hasBalanceInWinningToken$ | async">
              <ul class="list-reset mintOptionList">
                <li class="mintOption">
                  <div class="mintOptionWrap border--orange">
                    <div class="mintOption--token bolder status-status">
                      ”{{getWinningTokenText(event.winner)}}” <br>Token
                    </div>
                    <div class="eventInfoTxt highLow bolder status-orange">
                      Winner
                    </div>
                    <div class="eventInfoTxt--small">
                      ”{{getWinningTokenText(event.winner)}}” Token Win Ratio:
                    </div>
                    <div class="eventInfoTxt bolder">
                      {{event.ratio}}
                    </div>


                    <div class="eventInfoTxt--small divideBal">
                      My balance:
                    </div>
                    <div class="eventInfoTxt bolder" *ngIf="(balance$ | async) as balance">
                      {{getTokenBalance(balance)}} ”{{getWinningTokenText(event.winner)}}”
                    </div>

                    <div *ngIf="manageTransferBtn(balance$ | async)" class="eventInfoTxt--small eventInfoTransfer" (click)="goTransfer(event.winner, event.side)">
                      Transfer >
                    </div>

                  </div>
                  <div class="btnMint orange bolder border--orange" (click)="continue()">
                    <span>Withdraw Rewards</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="form__item centered">
              <ion-button class="help-btn" size="small" (click)="information()">
                Help
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="back__button" (click)="goBack()">
          <div class="back__button--icon"></div>
          <span>Go back</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>