<app-app-header></app-app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="darkBox">
          <div class="eventOverview" *ngIf="(event$ | async) as event">
              <h2 class="eventHeader bolder status-status">
                EVENT OVERVIEW
              </h2>
              <div class="eventOverviewData"> 
                <ul class="list-reset">
                  <li>
                    <div class="eventInfoTxt bolder eventTokenInfo"> 
                      <img [src]="event.asset_icon" alt="">  
                      {{ event.asset_name }}
                      ({{ event.asset_ticker }})
                    </div>     
                    <div class="eventInfoTxt--small"> 
                      Created: {{ event.created }}
                    </div>                                    
                  </li>
                  <li>
                    <div class="eventInfoTxt--small"> 
                      Event success condition:
                    </div>                
                    <div class="eventInfoTxt bolder"> 
                      {{ event.asset_ticker }}
                      <span [ngClass]="getClass(event.side)">
                          {{ getConditionText(event.side) }}
                      </span>
                      ${{ event.condition_price }}&nbsp;USD
                    </div>                     
                  </li>  
                  <li>
                    <div class="eventInfoTxt--small"> 
                      Event expiration date:
                    </div>                
                    <div class="eventInfoTxt bolder"> 
                      {{ event.completion }}
                    </div>                     
                  </li> 
                  <li>
                    <div class="eventInfoTxt--small"> 
                      Event settlement price:
                    </div>                
                    <div class="eventInfoTxt bolder"> 
                      ${{ event.settled_price }}&nbsp;USD
                    </div>                     
                  </li>                                                      
                </ul>
              </div>
              <div class="eventOverviewData" *ngIf="hasBalanceInWinningToken$ | async"> 
                <ul class="list-reset mintOptionList">
                  <li class="mintOption">
                    <div class="mintOptionWrap border--orange">
                      <div class="mintOption--token bolder status-status">
                        ”{{getWinningTokenText(event.winner)}}” <br>Token
                      </div>
                      <div class="eventInfoTxt highLow bolder status-orange">
                        Winner
                      </div>                      
                      <div class="eventInfoTxt--small">
                        “IO” Token Win Ratio:
                      </div>          
                      <div class="eventInfoTxt bolder">
                        400%
                      </div>                                         
                    </div>
                    <div class="btnMint orange bolder border--orange" (click)="continue()">
                      <span>Withdraw Rewards</span>
                    </div>
                  </li>                 
                </ul>              
              </div>                             
            </div>
          </div>          
      </ion-col>      
    </ion-row>
    <ion-row>   
      <ion-col>     
        <div class="back__button" (click)="goBack()">
          <div class="back__button--icon"></div>
          <span>Go back</span>
        </div>
      </ion-col>      
    </ion-row>       
  </ion-grid>
</ion-content>
