<app-app-header></app-app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="darkBox">
          <div class="eventOverview" *ngIf="(event$ | async) as event">
              <h2 class="eventHeader bolder status-status">
                EVENT OVERVIEW
              </h2>
              <div class="eventOverviewData"> 
                <ul class="list-reset">
                  <li>
                    <div class="eventInfoTxt bolder eventTokenInfo"> 
                      <img [src]="event.asset_icon" alt="">  
                      {{ event.asset_name }}
                      ({{ event.asset_ticker }})
                    </div>     
                    <div class="eventInfoTxt--small"> 
                      Created: {{ event.created }}
                    </div>                                    
                  </li>
                  <li>
                    <div class="eventInfoTxt--small"> 
                      Event success condition:
                    </div>                
                    <div class="eventInfoTxt bolder"> 
                      {{ event.asset_ticker }}
                      <span [ngClass]="getClass(event.side)">
                          {{ getConditionText(event.side) }}
                      </span>
                      ${{ event.condition_price }}&nbsp;USD
                    </div>                     
                  </li>  
                  <li>
                    <div class="eventInfoTxt--small"> 
                      Event expiration date:
                    </div>                
                    <div class="eventInfoTxt bolder"> 
                      {{ event.completion }}
                    </div>                     
                  </li>                                    
                </ul>
              </div>
              
              <div class="eventOverviewData"> 
                <ul class="list-reset mintOptionList">
                  
                  <li class="mintOption">
                    <div class="mintOptionWrap border--green">
                      <div class="mintOption--token bolder status-status">
                        “{{getToken(Position.Left,event.side)}}” Token
                      </div>
                      <div class="eventInfoTxt highLow bolder status-green">
                        Higher
                      </div>                      
                      <div class="eventInfoTxt--small">
                        Current win ratio:
                      </div>          
                      <div class="eventInfoTxt bolder">
                        120%
                      </div>         
                      
                      <div class="eventInfoTxt--small divideBal">
                        My balance:
                      </div>          
                      <div class="eventInfoTxt bolder">
                        {{getTokenBalance(Position.Left,event.side)}} “{{getToken(Position.Left,event.side)}}”
                      </div>     
                      
                      <div class="eventInfoTxt--small eventInfoTransfer" (click)="continue(getToken(Position.Left, event.side), Position.Left, event.status)">
                        Transfer >
                      </div>                           
                      
                    </div>
                    <ion-button *ngIf="event.status === Status.Staking" class="btnMint green bolder border--green" (click)="continue(getToken(Position.Left, event.side), Position.Left, event.status)">
                      <span>Stake “{{getToken(Position.Left,event.side)}}”</span>
                    </ion-button>
                  </li>
                  
                  <li class="mintOption">
                    <div class="mintOptionWrap border--red">
                      <div class="mintOption--token bolder status-status">
                        “{{getToken(Position.Right,event.side)}}” Token
                      </div>
                      <div class="eventInfoTxt highLow bolder status-red">
                        Lower
                      </div>                      
                      <div class="eventInfoTxt--small">
                        Current win ratio:
                      </div>          
                      <div class="eventInfoTxt bolder">
                        500%
                      </div>   
                      
                      <div class="eventInfoTxt--small divideBal">
                        My balance:
                      </div>          
                      <div class="eventInfoTxt bolder">
                        {{getTokenBalance(Position.Right,event.side)}} “{{getToken(Position.Right,event.side)}}”
                      </div>                         
                      
                      <div class="eventInfoTxt--small eventInfoTransfer" (click)="continue(getToken(Position.Right, event.side), Position.Right, event.status)">
                        Transfer >
                      </div>                         
                      
                    </div>
                    <ion-button *ngIf="event.status === Status.Staking" class="btnMint red bolder border--red" (click)="continue(getToken(Position.Right, event.side), Position.Right, event.status)">
                      <span>Stake “{{getToken(Position.Right, event.side)}}”</span>
                    </ion-button>
                  </li>                  
                  
                </ul>              
              </div>
              
            </div>
          </div>          
      </ion-col>      
    </ion-row>
    <ion-row>   
      <ion-col>     
        <div class="back__button" (click)="goBack()">
          <div class="back__button--icon"></div>
          <span>Go back</span>
        </div>
      </ion-col>      
    </ion-row>       
  </ion-grid>
</ion-content>
