<app-app-header [modal_header]="modalHeader" [modal_txt]="modalTxt">
</app-app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="darkBox">
          <div class="eventOverview" *ngIf="event$ | async as event">
            <h2 class="eventHeader bolder status-status">EVENT OVERVIEW</h2>
            <div class="eventOverviewData">
              <ul class="list-reset">
                <li>
                  <div class="eventInfoTxt bolder eventTokenInfo white">
                    <div class="asset_icon" [ngClass]="'token-' + event.asset_ticker.toLowerCase()"></div>
                    {{ event.asset_name }}
                    ({{ event.asset_ticker }})
                  </div>
                  <div class="eventInfoTxt--small">
                    Created: {{ getDate(event.creation) }}
                  </div>
                </li>
                <li>
                  <div class="eventInfoTxt--small">
                    Event success condition:
                  </div>
                  <div class="eventInfoTxt bolder white">
                    {{ event.asset_ticker }}
                    <span [ngClass]="getClass(event.side)">
                      {{ getConditionText(event.side) }}
                    </span>
                    ${{ currencyFormat(event.condition_price) }}&nbsp;USD
                  </div>
                </li>
                <li>
                  <div class="eventInfoTxt--small">Event expiration date:</div>
                  <div class="eventInfoTxt bolder">
                    {{ getDate(event.deposit_period_end) }}
                  </div>
                </li>
              </ul>
            </div>

            <div class="eventOverviewData">
              <ul class="list-reset mintOptionList">
                <li class="mintOption">
                  <div class="mintOptionWrap border--red">
                    <div class="eventInfoTxt highLow bolder status-red">
                      Event Expired
                    </div>
                  </div>

                  <div class="btnMint smokey bolder" *ngIf="hasBalanceInAnyToken$ | async" (click)="continue()">
                    <span>Withdraw Deposit</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="back__button" (click)="goBack()">
          <div class="back__button--icon"></div>
          <span>Go back</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>