
  <div class="asset_itemWrap status-orange">                        
    <div class="asset_icon" [ngClass]="'token-'+event.asset_ticker.toLowerCase()"></div>
    <div class="asset_data">
      <div class="asset_title">
        {{ event.asset_name  }} ({{ event.asset_ticker }})           
      </div>
      <div class="asset_particulars">
        <ul class="list-reset">
          <li *ngIf="event.condition_price">
            condition: 
            <span [ngClass]="getClass(event.side)">
              {{ getConditionText(event.side) }} ${{ event.condition_price}}              
            </span>
          </li>
          <li *ngIf="event.expiration">
            expiration: {{ event.expiration}}
          </li>    
          <li>
            value: ${{ this.getTotalValue(event.staked_values) }} USD
          </li>                    
        </ul>
        <div class="lb"></div>
        <ul class="list-reset">
          <li class="status-status">
            {{ getStatusText(event) }}
          </li>
          <li>
            value: ${{ this.getTotalValue(event.staked_values) }} USD
          </li>
          <li *ngIf="event.ratio">
            win ratio: {{ event.ratio }}
          </li>                           
        </ul>        
      </div>      
    </div>
  </div>
