.separator {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: #A6AEBE;
}

.checkboxSegment {
    text-align: center;
    margin: 0 auto 30px;
    .checkboxSegmentInner {
        display: inline-flex;
        align-items: center;     
        .termsLink {
            margin-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;        
        }        
    }    
}

.form__input--wrapped {
    padding-right: 15px;
    display: flex;
    border-radius: 15px;
    border: 1px solid var(--ion-color-primary);
    align-items: center;
    .form__input--token {
        text-transform: uppercase;
    }
    input {
        border: none!important;
    }
}